﻿@model ScoreBoard.Models.Joueur;

@{
    ViewBag.Titre = "Ajouter un joueur";
}
﻿
<form asp-controller="Joueur" asp-action="Creer" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" type="number" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Nom" class="form-label"></label>
        <input asp-for="Nom" type="text" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Prenom" class="form-label"></label>
        <input asp-for="Prenom" type="text" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>

        <div>
        <label asp-for="Equipe" class="form-label"></label>
        <input asp-for="Equipe" type="text" />
        <span asp-validation-for="Equipe" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Telephone" class="form-label"></label>
        <input asp-for="Telephone" type="text" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Courriel"></label>
        <input asp-for="Courriel" type="texte" />
        <span asp-validation-for="Courriel" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Envoyer" />
    </div>

</form>

@section JQueryValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
