﻿@model List<ScoreBoard.Models.Joueur>

<div class="container">
          
    <h1 class="m-3">@ViewBag.Titre</h1>
    <div class="row mb-5">
        @foreach (var joueur in Model)
        {
            <div class="card mx-2 mt-2" style="width: 18rem; border-color:sandybrown">
                <div class="card-body">

                    <h5 class="card-title">@joueur.Nom</h5>
                    <p class="card-text">@joueur.Prenom</p>
                    <p class="card-text">@joueur.Equipe</p>
                    <p class="card-text">@joueur.Telephone</p>
                    <p class="card-text">@joueur.Courriel</p>

                    <div>
                        <a class="btn btn-outline-danger" asp-controller="Joueur" asp-action="Supprimer" asp-route-id=@joueur.Id>Supprimer @joueur.Nom</a>
                        <a class="btn btn-outline-dark" asp-controller="Joueur" asp-action="Modifier" asp-route-id=@joueur.Id>Modifier @joueur.Nom</a>
                    </div>
                </div>

            </div>
        }
    </div>

    <div class="row mb-2">
		<a class="btn btn-outline-primary" asp-controller="Joueur" asp-action="Creer">Creer un joueur</a>
    </div>

</div>
