﻿@model Joueur;

<h2>Supprimer le joueur #@Model.Id</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer ce joueur ?
</div>

@*TODO: Complétez cette vue de façon à  
        confirmer ou annuler la supression*@
